.cards {
  /* display: flex;
  justify-content: space-between; */
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(16rem, 1fr));
  gap: 2em;
  margin: 0 3rem;
  margin-top: 8rem;
  padding-bottom: 2rem;
}
