.card {
  background: #fff;
  color: var(--primary);
  padding: 1.8rem 2.4rem;
  box-shadow: 7px 10px 57px -13px rgba(0, 0, 0, 0.28);
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}

.card__title {
  font-family: "Merriweather", serif;
  font-size: 1.4rem;
}

.card__text {
  /* font-weight: 500; */
  font-size: 1.15rem;
  margin-top: 1.2rem;
}

.card__cta {
  color: var(--secondary);
  background: transparent;
  display: flex;
  align-items: center;
  font-size: 1rem;
  font-weight: bold;
  border: none;
  outline: none;
  cursor: pointer;
}

.card__cta.outlined {
  padding: 8px 16px;
  border: 1px solid var(--secondary);
  border-radius: 200px;
  transition: all 0.4s ease;
}

.card__cta.outlined:hover {
  background: var(--secondary);
  color: #fff;
}
