.hook {
  width: 50%;
  margin-left: 3rem;
}

.hook__title {
  font-family: "Merriweather", serif;
  text-transform: capitalize;
  color: var(--primary);
  line-height: 3.7rem;
  font-size: 2.7rem;
  letter-spacing: 0.2rem;
  display: grid;
  grid-template-columns: minmax(min-content, 36rem);
}

.hook__text {
  color: var(--primary);
  margin-top: 1.4rem;
  font-weight: 500;
  font-size: 1.15rem;
}

@media only screen and (max-width: 780px) {
  .hook {
    width: 100%;
    margin: 0;
  }

  .hook__title {
    font-size: 2.2rem;
    max-width: 36rem;
    margin-left: 3.4rem;
  }

  .hook .hook__title br {
    display: none;
  }

  .hook__text {
    font-size: 1.1rem;
    max-width: 36rem;
    margin-left: 3.4rem;
    line-height: 1.8rem;
  }

  .hook .hook__text br {
    display: none;
  }
}
