.hook {
  width: 50%;
  margin-left: 3rem;
}

.hook__title {
  font-family: "Merriweather", serif;
  text-transform: capitalize;
  color: var(--primary);
  line-height: 3.7rem;
  font-size: 2.7rem;
  letter-spacing: 0.2rem;
}

.hook__text {
  color: var(--primary);
  margin-top: 1.4rem;
  font-weight: 500;
  font-size: 1.15rem;
}
