body {
  --primary: #2b2862;
  --secondary: #606dfe;
}

.App {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /* background: inherit; */
  padding: 1rem 2rem;
}

@media only screen and (max-width: 780px) {
  .App {
    padding: 0;
  }
}
